#web_bg{
    background-image: linear-gradient(-225deg, #e474ee, #885ae6 28%, #2c8fed 100%);
}
:hover
@keyframes footerani {
    from {background-image: linear-gradient(-225deg, #e474ee, #885ae6 28%, #2c8fed 100%);}
    to{background-image: linear-gradient(-225deg, #e474ee, #885ae6 78%, #2c8fed 100%);}}
@-webkit-keyframes footerani {
    from {background-image: linear-gradient(-225deg, #e474ee, #885ae6 28%, #2c8fed 100%);}
    to{background-image: linear-gradient(-225deg, #e474ee, #885ae6 78%, #2c8fed 100%);}}
#footer {
    background-image: linear-gradient(-225deg, #e474ee, #885ae6 28%, #2c8fed 100%);
}
#footer:hover{
    animation: footerani 2s;
    -webkit-animation: footerani 2s;
}
#footer::before{
    background-color: rgba(0,0,0,0);
}